@model IEnumerable<AT2_CS_MVC.Models.Display>
@{
    ViewData["Title"] = "Candidate Home Index";
}


<h2 class="h1 accordion-header"> MIT University - Candidate Management </h2>

<div class="mb-4">
    <button class="btn btn-dark">@Html.ActionLink("Add New Candidate", "Add", "Candidate", null, new { style = "text-decoration: none; color:white;" }) </button>
    <br>
    <br>
    <input class="text text-black-50"type="text" id="searchInput" placeholder="Search Name or Univesity" onkeyup="filterTable()" />
    @* <button class="btnLink btn btn-dark">@Html.ActionLink("Back to Home", "Index", "Home") </button> *@
</div>

<table class="table table-responsive" id="dataTable">
    <tr >
        <th onclick="sortTable(0)">@Html.DisplayNameFor(m => m.name) ⇅</th>
        <th onclick="sortTable(1)">@Html.DisplayNameFor(m => m.dob) ⇅</th>
        <th onclick="sortTable(2)">@Html.DisplayNameFor(m => m.gpa) ⇅</th>
        <th onclick="sortTable(3)">@Html.DisplayNameFor(m => m.university) ⇅</th>
        <th onclick="sortTable(4)">@Html.DisplayNameFor(m => m.Qname) ⇅</th>
    </tr>

    @foreach (var data in Model)
    {

        <tr>
            <td>@data.name</td>
            <td>@Convert.ToDateTime(data.dob).ToString("dd-MM-yyyy")</td>
            <td>@data.gpa</td>
            <td>@data.university</td>
            <td>@data.Qname</td>
            <td>@Html.ActionLink("EDIT", "edit", "Candidate", new { @id = data.AId })</td>
            <td>@Html.ActionLink("DELETE", "delete", "Candidate", new { @id = data.AId }, new { onclick = "return confirm('Click ok to del');" })</td>
        </tr>
    }

</table>

<script src="~/js/index_candidate.js" asp-append-version="true"></script>